* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    margin-top: 100px !important;
}

label {
    cursor: pointer;
}

a {
    color: #f4f4f4 !important;

    text-decoration: none !important;
}